* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #262626;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #262626;
    min-height: 0;

}

.header_container {
    flex: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #262626;
}

.button_bar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0.125rem;
    padding: 0.125rem;
}

.logo_app {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0.25rem;
    padding: 0.25rem;
    height: 100%;
    width: 100%;
}

#logo {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.0625rem;
    margin: 0.0625rem;
}

.logo_app h1 {
    color: white;
    font-size: 1.25rem;
}

.container_editor {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;

}

button {
    border: 0;
    border-radius: 0.13rem;
    background: #262626;
    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.25rem;
}

button:hover {
    background: #404040;
}

.cm-s-monokai.CodeMirror {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    background-color: #262626;
    display: none;
}

.CodeMirror ::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    height: 0.25rem;
}

.CodeMirror ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.25rem;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: white;
    top: 3.3rem;
    visibility: hidden;
    z-index: 2;
    border-radius: 0.5rem;
    overflow: auto;
}

#menu.open {
    visibility: visible;
    width: 18.0rem;
    height: 15.0rem;
    left: calc(99% - 18.0rem);
    z-index: 5;
    padding: 0.25rem;
    margin: 0.25rem;

}

.menu_list {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0.25rem;
    padding: 0.25rem;
}

#menu ol li {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 0.9rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

#menu ol li.list_separator {
    margin-bottom: 0.375rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid #1a1a1a;
}

#menu.open #menu_list li:hover {
    background: #404040;
    border-radius: 0.25rem;
}

#editor.open {
    z-index: -2;
}